<div class="imgs">
     <%= image_tag "image1.jpg", alt: "Op. Dr. Seyfi Akbay", class: "img" %>
     <%= image_tag "image2.jpg", alt: "Op. Dr. Seyfi Akbay", class: "img" %>
     <%= image_tag "image3.jpg", alt: "Op. Dr. Seyfi Akbay", class: "img" %>
     <%= image_tag "image4.jpg", alt: "Op. Dr. Seyfi Akbay", class: "img" %>
</div>
<h1 class="name">Op. Dr. Seyfi Akbay</h1>

<div class="prof">
Plastik Cerrah - Chirurgien Plastique - Schönheitschirurg - Cirujano Plástico - Chirurgo Plastico - Plastic Surgeon - 整形外科醫生
</div>

<h3 class="adr">
        <%= link_to "", class: "mp" do %>
            <%= image_tag "map.jpg", class:"mp_img" %>
        <% end %>&nbsp;Nisbetiye cad. Seyran apt. No:35 K:2/A 34337 Etiler - Istanbul / TURKEY</h3>
<h3 class="fon"><%= image_tag("phone.jpg", size:"25x25") %> +90(212) 352-6464 &nbsp;&nbsp; <%= image_tag("cell.jpg", size:"25x25") %> +90(532) 542-5599&nbsp;&nbsp;  FAX +90(212) 351-5253</h3>
<br>

<ul class="f32">
  <li class="flag tr" id="tr" title=""></li>
  <li class="flag fr" id="fr" title=""></li>
  <li class="flag de" id="de" title=""></li>
  <li class="flag es" id="es" title=""></li>
  <li class="flag it" id="it" title=""></li>
  <li class="flag us" id="us" title=""></li>
  <li class="flag cn" id="zh-CN" title=""></li>
</ul>

<ul class="f16">
  <li class="flag tr" id="tr" title=""></li>
  <li class="flag fr" id="fr" title=""></li>
  <li class="flag de" id="de" title=""></li>
  <li class="flag es" id="es" title=""></li>
  <li class="flag it" id="it" title=""></li>
  <li class="flag us" id="us" title=""></li>
  <li class="flag cn" id="zh-CN" title=""></li>
</ul>


