

<%= image_tag 'home.jpg', class: "home" %>

<div class="tnx-page">
    <div class="tnx">
      <%= t("thanks", locale: "en") %>
    </div>

    <div class="tnx">
      <%= t("thanks", locale: "de") %>
    </div>

    <div class="tnx">
      <%= t("thanks", locale: "fr") %>
    </div>

    <div class="tnx">
      <%= t("thanks", locale: "es") %>
    </div>

    <div class="tnx">
      <%= t("thanks", locale: "it") %>
    </div>

    <div class="tnx">
      <%= t("thanks", locale: "zh-CN") %>
    </div>

    <div class="tnx">
      <%= t("thanks", locale: "tr") %>
    </div>
</div>

<h3 class="addr-in-show">
  <%= link_to "", class: "mp" do %>
    <%= image_tag "map.jpg", class:"mp_img" %>
  <% end %>&nbsp;Nisbetiye cad. Seyran apt. No:35 K:2/A 34337 Etiler - Istanbul / TURKEY</h3>
<h3 class="comm-in-show"><%= image_tag("phone.jpg", size:"25x25") %> +90(212) 352-6464 &nbsp;&nbsp; <%= image_tag("cell.jpg", size:"25x25") %> +90(532) 542-5599 &nbsp;&nbsp; FAX +90(212) 351-5253</h3>




<%= form_tag("/appointments/webmaster", :method => "post", :id => 'webmaster') do %>

    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>

    <input type="button" class="ex" value="X">

    <div class="field">
      <label for="email">Your Email:</label> <br>
      <input type="email" id="eml" name="email" size="22">
    </div>

    <div class="field">
      <label for="message">Message:</label> <br>
      <textarea id="msg" name="message" rows="5" cols="22" required="required"></textarea>
    </div>

    <div class="field">
      <%= label_tag :humanizer_answer, @appointment.humanizer_question %> <br>
      <%= text_field_tag :humanizer_answer,'', {size: 22, required: "required", class: "hmnzr_ans"} %>
        <%= image_tag("refresh.jpg", class: "refresh") %>
      <%= hidden_field_tag :humanizer_question_id %>
    </div>

    <div class="field">
      <button type="submit" id="send">OK</button>
      <input type="button" class="cancel" value="Cancel">
    </div>

<% end %>


<footer>
  <%= link_to "Webmaster", "#", class: "webmaster-contact-link" %>
</footer>


