
<div class="tnx-page">
<div class="tnx">
  <%= t("thanks", locale: "en") %>
</div>

<div class="tnx">
  <%= t("thanks", locale: "de") %>
</div>

<div class="tnx">
  <%= t("thanks", locale: "fr") %>
</div>

<div class="tnx">
  <%= t("thanks", locale: "es") %>
</div>

<div class="tnx">
  <%= t("thanks", locale: "it") %>
</div>

<div class="tnx">
  <%= t("thanks", locale: "cn") %>
</div>

<div class="tnx">
  <%= t("thanks", locale: "tr") %>
</div>
</div>




