
<div class="tnx-page">
    <div class="tnx">
      <%= t("thanks", locale: "en") %>
    </div>

    <div class="tnx">
      <%= t("thanks", locale: "de") %>
    </div>

    <div class="tnx">
      <%= t("thanks", locale: "fr") %>
    </div>

    <div class="tnx">
      <%= t("thanks", locale: "es") %>
    </div>

    <div class="tnx">
      <%= t("thanks", locale: "it") %>
    </div>

    <div class="tnx">
      <%= t("thanks", locale: "cn") %>
    </div>

    <div class="tnx">
      <%= t("thanks", locale: "tr") %>
    </div>
</div>

<h3>Nisbetiye cad. Seyran apt. No:35 K:2/A 34337 Etiler - Istanbul / TURKEY</h3>
<h3><%= image_tag("phone.jpg", size:"25x25") %> 90(212) 352-6464, <%= image_tag("cell.jpg", size:"25x25") %> 90(532) 542-5599  FAX: +90(212) 351-5253</h3>






