<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta name="viewport" content="width=960, initial-scale=1, maximum-scale=1"/>
  <title>Op. Dr. Seyfi Akbay</title>
  <%= favicon_link_tag('medicine.jpg', :class=>"favicon") %>
  <script src="https://maps.googleapis.com/maps/api/js">
      google.maps.event.addDomListener(window, 'load', initialize);
  </script>
  <%= stylesheet_link_tag "mobile", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>


<%= link_to( reach_path(:mobile => "0")) do %>
   <%= image_tag 'laptop.jpg', size:"16x16" , class: "media-image" %>
<% end %>


<%= yield %>


<%= form_tag("/appointments/webmaster", :method => "post", :id => 'webmaster') do %>

  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>

  <input type="button" class="ex" value="X">

  <div class="field">
    <label for="email">Your Email:</label> <br>
    <input type="email" id="eml" name="email" size="20">
  </div>

  <div class="field">
    <label for="message">Message:</label> <br>
    <textarea id="msg" name="message" rows="5" cols="20" required="required"></textarea>
  </div>

  <div class="field">
    <button type="submit" id="okay">OK</button>
    <input type="button" class="cancel" value="Cancel">
  </div>

<% end %>

<div id="map_canvas"></div>

<footer>
<%= link_to "Webmaster", "#", class: "webmaster-contact-link" %>
</footer>

</body>
</html>
