<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta name="viewport" content="width=960, initial-scale=1, maximum-scale=1" />
  <title>Op. Dr. Seyfi Akbay</title>
  <%= favicon_link_tag('medicine.jpg', :class=>"favicon") %>
  <script src="https://maps.googleapis.com/maps/api/js">
      google.maps.event.addDomListener(window, 'load', initialize);
  </script>
  <%= stylesheet_link_tag "mobile", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <script type="text/javascript">
    var lang = '<%= I18n.locale || 'en' %>';
  </script>
</head>
<body>


<%= link_to( reach_path(:mobile => "0")) do %>
   <%= image_tag 'laptop.jpg', size:"16x16" , class: "media-image" %>
<% end %>


<%= yield %>


<div id="map_canvas"></div>


</body>
</html>
